<!DOCTYPE html>
<html class=''>
<head>
    <meta charset='UTF-8'>
    <meta name="robots" content="noindex">
    <link rel="stylesheet"
          href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

</head>
<body>
<body ng-app="httptest">
<md-list ng-controller="getShoppingEntries">
    <md-list-item ng-repeat="item in data">
        <p> {{item.name}}</p>
        <md-checkbox ng-model="item.done"></md-checkbox>
    </md-list-item>
</md-list>
</body>

<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

<!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>

<script src="app.js"></script>

</body>
</html>
